{% extends "base.html" %}

{% block meta_description %}
{% if article.summary %}
<meta name="description" content="{{ article.summary|striptags }}">
{% endif %}
{% endblock %}

{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

{% block structured_data %}
<script type="application/ld+json">
{
  "@context" : "https://schema.org",
  "@type" : "Article",
  "name" : "{{ article.title|striptags }}",
  {% if article.author %}
  "author" : {
    "@type" : "Person",
    "name" : "{{ article.author }}"
  },
  {% endif %}
  "publisher" : {
    "@type" : "Organization",
    "name" : "The Babel Cat",
    "logo" : {
      "@type" : "ImageObject",
      "url" : "{{ SITEURL }}/images/global/logo_200.jpg",
      "height" : 200,
      "width" : 200
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ SITEURL }}/{{ article.url }}"
  },
  "datePublished" : "{{ article.locale_date }}",
  "dateModified" : "{% if article.locale_modified %}{{ article.locale_modified }}{% else %}{{ article.locale_date }}{% endif %}",
  "image" : "{{ SITEURL }}/images/{{ article.image if article.image else 'article_image_placeholder' }}.jpg",
  {% if article.summary %}
  "description" : "{{ article.summary|striptags }}",
  "headline" : "{{ article.summary|striptags|truncate(110, False, '') }}",
  {% endif %}
  "url" : "{{ SITEURL }}/{{ article.url }}"
}
</script>
{% endblock %}


{% block content %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="col-8 col-12-medium">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2>{{ article.title }}</h2>
                    </header>
                    {% if article.tags %}
                        {% for tag in article.tags %}
                        <a class="button icon solid" href="/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}{% endif %}
                        {% endfor %}
                    {% endif %}
                    <span class="image featured"><img src="images/pic04.jpg" alt="" /></span>
                    <h3>
                        <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                        {% if article.modified %}
                            <span class="separator">•</span>
                            Last update on
                            <time datetime="{{ article.modified.isoformat() }}"> {{ article.locale_modified }}</time>
                        {% endif %}
                    </h3>
                    
                    {{ article.content }}

                </article>


            </div>
            
            <!-- Sidebar -->
            <div id="sidebar" class="col-4 col-12-medium">
                {% include 'includes/sidebar.html' %}
            </div>
        </div>
    </div>
</section>

{% endblock %}