<!-- Excerpts -->
<section>
    {% for article in articles[2:5] %}

    <!-- Excerpts -->
    <section>
        <ul class="divided">
            <li>

                <!-- Excerpt -->
                <article class="box excerpt">
                    <header>
                        <span class="date"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
                        <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
                    </header>
                    <p>{{ article.summary }}</p>
                </article>

            </li>
        </ul>
    </section>

    {% endfor %}
</section>
