{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Pagina principale{% endblock %}

{% block content %}
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">   

            <div class="col-md-12">
                <div class="section-title">
                    <h2>Ultimi articoli</h2>
                </div>
            </div>

            {% for article in articles[0:2] %}
            <!-- post -->
            <div class="col-md-6">
                <div class="post post-thumb" style="background-image: url('/images/{{ article.slug }}/thumb.jpg');">
                    <div class="post-body">
                        <div class="post-info">
                            <div class="post-meta">
                                {% set num = categories | index_category(article.category.name) %}
                                <a class="post-category cat-{{ num }}" href="/{{ article.category.url }}">{{ article.category }}</a>
                                <span class="post-date"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
                            </div>
                            <h3 class="post-title"><a href="/{{ article.url }}">{{ article.title }}</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /post -->
            {% endfor %}

        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Articoli recenti</h2>
                </div>
            </div>

            <!-- posts -->
            <div class="col-md-8">

                {% for article in articles[2:8] %}
                <!-- post -->
                <div class="col-md-6">
                    <div class="post">
                        <a class="post-img" href="/{{ article.url }}"><img src="/images/{{ article.slug }}/thumb.jpg" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                {% set num = categories | index_category(article.category.name) %}
                                <a class="post-category cat-{{ num }}" href="/{{ article.category.url }}">{{ article.category }}</a>
                                <span class="post-date"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
                            </div>
                            <h3 class="post-title"><a href="/{{ article.url }}">{{ article.title }}</a></h3>
                        </div>
                    </div>
                </div>
                <!-- /post -->
                
                {% if loop.index % 2 == 0 %}
                <div class="clearfix visible-md visible-lg"></div>
                {% endif %}

                {% endfor %}

            </div>
            <!-- /posts -->

            <!-- labels -->
            <div class="col-md-4">

                {% include 'includes/categories_list.html' %}
                {% include 'includes/tags_list.html' %}

            </div>
            <!-- /labels -->

        </div>
        <!-- /row -->

    </div>
    <!-- /container -->
</div>
<!-- /section -->
{% endblock %}